@font-face{
    font-family: "Nanum_Gothic-Bold";
    src: url("../font/Nanum_Gothic/NanumGothic-Bold.ttf");
}

@font-face{
    font-family: "Nanum_Gothic-Regular";
    src: url("../font/Nanum_Gothic/NanumGothic-Regular.ttf");
}

@font-face{
    font-family: "Noto_Sans_KR-Regular";
    src: url("../font/Noto_Sans_KR/NotoSansKR-Regular.otf");
}

@font-face{
    font-family: "Noto_Sans_KR-Bold";
    src: url("../font/Noto_Sans_KR/NotoSansKR-Bold.otf");
}

body {
    background-color: #36393f;
}

.backgroud-navbar{
    height: 75px;
    width: 100%;
}

.docs{
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Noto_Sans_KR-Regular;
    color: white;
}

.docs h2{
    font-family: Noto_Sans_KR-Bold;
    font-weight: bold;
}

.topic {
    font-weight: bold;
    font-family: Noto_Sans_KR-Bold;
}

.term {
    padding-top: 30px;
}

.privacy {
    padding-top: 30px;
}

a {
    color: white;
}

a:hover{
    color: white;
}

.decs{
    padding-right: 40px;
    padding-left: 40px;
    display: block;
}

.docs-category-desc{
    padding-left: 40px;
}

@media screen and (max-width: 1024px){
    .decs{
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    .decs{
        padding-right: 10px;
        padding-left: 10px;
    }
}

.side-menu {
    background: #23272b;
    height: 100%;
}


.docs-file {
    width: 100%;
}

.docs-category-title{
    padding-left: 5px;
    font-family: Noto_Sans_KR-Bold;
    font-weight: bold;
    font-size: 25px;
    color: white;
    width: 100%;
    display: block;
}

.docs-category-desc{
    font-family: Noto_Sans_KR-Regular;
    font-weight: bold;
    font-size: 15px;
    color: white;
    width: 100%;
    display: block;
}

.docs-category-desc:hover{
    background: #3c3c3c;
}

.docs-file{
    color: white;
    padding-left: 20px;
}

.docs-command-topic{
    padding-top: 30px;
}

.exam-picture{
    max-width: 520px;
}

.docs-exam{
    padding-top: 20px;
}

@media screen and (min-width: 1024px){
    .gird-docs{
        display: grid;
        grid-template-columns: 250px 1fr;
    }
}
