@media screen and (max-width: 1024px) {
    .sidemenu-open{
        display: block;
    }

    .side-menu {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
}

@media screen and (min-width: 1024px) {
    .sidemenu-open{
        display: none;
    }
}

.sidemenu-open{
    font-size:30px;
    cursor:pointer;
}

.sidemenu-close{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}