@font-face{
    font-family: "Nanum_Gothic-Bold";
    src: url("../font/Nanum_Gothic/NanumGothic-Bold.ttf");
}

@font-face{
    font-family: "Nanum_Gothic-Regular";
    src: url("../font/Nanum_Gothic/NanumGothic-Regular.ttf");
}

@font-face{
    font-family: "Noto_Sans_KR-Regular";
    src: url("../font/Noto_Sans_KR/NotoSansKR-Regular.otf");
}

@font-face{
    font-family: "Noto_Sans_KR-Bold";
    src: url("../font/Noto_Sans_KR/NotoSansKR-Bold.otf");
}

.vote_ad {
    padding-top: 30px;
    padding-bottom: 30px;
    background: white;
}

.btn{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 20px;
    text-decoration: none;
    width: 200px;
}

.btn:hover{
    background: #FF73FA;
    color: white;
    text-decoration: none;
    outline: 0;
}

.btn1{
    background: #7289DA;
}

.btn2 {
    background: #2C2F33;
}

.btn3 {
    background: #2f3136;
}


@media (min-width: 1020px) {
    .content-grid {
        display: grid;
        grid-template-columns: 1fr 30px 1fr;
    }

    .agent-moblie{
        display: none;
    }

    .agent-pc{
        display: block;
    }
}

@media (max-width: 1020px) {
    .agent-moblie{
        display: block;
    }

    .agent-pc{
        display: none;
    }

    .btn {
        margin-bottom: 10px;
    }
}

.vote-btn-group {
    padding-top: 30px;
}

.vote-topic {
    font-weight: bold;
    font-family: Nanum_Gothic-Bold;
    font-size: 30px;
}